body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout {
  min-height: 100vh;
}

.active-link {
  background: #1890ff;
}

nav a {
  display: block;
  padding: 15px;
  color: white;
}

nav a > span:last-child {
  margin-left: 15px;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 0 40px;
}
.movie-list a {
  width: 250px;
  height: 400px;
  margin: 40px 30px;
  transition: all ease-in .3s;
}

.movie-list a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, .7);
}

.movie-list .movie-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #383838;
}

img {
  width: 100%;
  height: 100%;
}

.filter {
  display: flex;
  justify-content: flex-end;
}
.filter .ant-input {
  width: 250px;
}

.filter .ant-select {
  width: 250px;
  margin-left: 30px;
}

.movie-page {
  margin-top: 20px;
  background: #f7f7f7;
  padding: 15px;
  min-height: 82vh;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.movie-page h1 {
  text-align: center;
}

.movie-page .movie-info {
  margin: 30px 10%;
  display: flex;
  justify-content: space-between;
}
.movie-page .movie-info>div:first-child {
  width: 25%;
}
.movie-page .movie-info>div:last-child {
  width: 72%;
}
.movie-page img {
  width: 100%;
  height: auto;
}

.movie-page .info-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.movie-page .info-block>div:first-child {
  width: 10%;
  font-size: 16px;
  font-weight: 500;
}

.movie-page .info-block>div:last-child {
  width: 88%;
}

.movie-page iframe {
  border: 0;
}
.btn-buy {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  background: #ffad40;
  border: 1px solid #e29938;
}
.btn-buy:hover {
  background: #ff9b14;
  border-color: #ed981f;
}
